.goods-sect-right{
    width: 1000px;
    float: left;
}
.goods-sect-name ul{
    margin-top: 20px;
    height: 30px;
    border-bottom: 2px solid rgb(180, 174, 174);
}
.goods-sect-name ul li{
    float: left;

}
.goods-sect-name ul li:nth-child(odd){
    width: 120px;
    height: 50px;
    text-align: center;
}
.goods-sect-name ul li:nth-child(1){
    color: rgba(255, 81, 0, 0.952);
}
.goods-sect-main{
    margin-top: 20px;
}

section{
    overflow: hidden;
    margin-bottom: 100px;
}
.goods-sect-search{
    clear: both;
    height: 200px;
    border-bottom: 2px solid #ccc;
}
.goods-sect-search p{
    margin-top: 30px;
    margin-left: 20px;
}
.goods-sect-search p:last-child button{
    width: 160px;
    height: 40px;
    border-radius: 10px;
    margin-left: 10px;
}
.goods-sect-search p:last-child button:first-child{
    background: rgb(255, 81, 0);
    color: aliceblue;
}
.goods-sect-search p:last-child button:last-child{
    border: 1px solid green;
    color: green;
}
form table{
    margin-left: 20px;
    width: 1000px;

}
form table thead{
    background: #ccc;
}
form table thead th{
    height: 50px;
}
form tbody tr img{
    width :100px;
    height: 100px;
    float: left;
}
form tbody tr td{
    height: 125px;
    padding-left: 30px;
    padding-top: 10px;
}
form tbody tr td:last-child button{
    display: inline-block;
    height: 30px;
    width: 80px;
    background: blue;
    color: aliceblue;
}
.goods-table-section{
    margin-bottom: 40px;
}
.goods-table-fooler{
    clear: both;

}
.goods-table-fooler ul{
    width: 350px;
    margin: 0 auto;
}
.goods-table-fooler ul li{
    float: left;
    border: 1px solid #ccc;
    padding: 10px;
}