*{
    margin: 0;
    padding: 0;
}
ul{
   list-style: none; 
}
a{
    text-decoration: none;
    color: #6a6a6a;
}
/*头部开始*/

header{
    height: 50px;
    background:#ccc;
}
header>div{
    width: 1200px;
    margin: 0 auto;
    line-height: 50px;
}
.self-head-left,.self-head-right ul li{
    float: left;
}
.self-head-right{
    float: right;
}
.self-head-right ul li{
    margin-right: 40px;
}


/*导航条开始*/
nav{
    clear: both;
    height: 100px;
    background:deepskyblue;  
    margin-bottom: 20px;
}
nav>div{
    width: 1200px;
    margin: 0 auto;
    line-height: 100px;
}
nav h1{
    display: inline-block;
    color: #ffffff;
}
nav>div span{
    margin-left: 25px;
    color: #6a6a6a;
}


/*主页面开始*/
.self-sect-main{
    width: 1200px;
    margin: 0 auto;
}
.self-sect-left{
    width: 160px;
    height:475px;
    text-align: center;
    background: #ccc;
    position: relative;
}
.self-sect-left-top h2 img{
    width: 100px;
    height:100px;
    border-radius: 50%;
    margin-top: 10px;
}
.self-sect-left-top>img{
    position: absolute;
    left: 0;
}
.self-sect-left-top span{
    position: absolute;
    color:#ffffff;
    left: 50px;
    margin-top: 8px;
}
.self-sect-left-main ul{
    margin-top: 60px;
    
}
.self-sect-left-main ul li{
    margin-top: 10px;
}
.self-sect-left-main ul li:nth-child(1) a{
    color: red;
}

.self-sect-left{
    float: left;
}
.self-sect-right{
    float: left;
}
.self-sect-right-top{
    height: 130px;
    margin-left: 20px;
    width: 1000px;
    background: #f0e2e2;
    margin-bottom: 30px;
}
.self-top-img{
    width: 430px;
}
.self-top-img>img{
    width: 100px;
    height: 90px;
    margin: 20px;
}
.self-top-img,.self-top-section,.self-top-img>img,.self-top-img>.self-sect-product{
    float: left;
}
.self-top-set{
    float:right;
}
.self-top-img>.self-sect-product{
    margin: 20px;
}
.self-top-img>.self-sect-product p{
    margin-bottom: 15px;
}
.self-top-section{
    margin: 20px;
}
.self-top-section p{
    margin-bottom: 15px;
}
.self-top-set button{
    margin: 10px;
    width: 60px;
    height: 25px;
    background: blue;
    color: #ffffff;
    border-radius: 10px;
}





.self-middle-left{
    margin-left: 20px;
    width: 410px;
}
.self-middle-left-main ul li{
    float: left;
}
.self-middle-left>span{
    margin: 30px;
}
.self-middle-left-main{
    height: 400px;
    background: #c7c5c5
}
.self-middle-left>span i img{
    margin-top: 20px;
    
}
.self-middle-left-main ul li{
    margin-left: 60px;
    margin-bottom: 40px;
    margin-top: 40px;
}
.self-middle-left-main ul li>p{
    margin-left: 10px;
}
.self-middle-left,.self-middle-right{
    float: left;
}
.self-middle-right{
   margin-top: 20px;
   margin-left: 30px;
}
.self-middle-right>span{
    margin:30px;
}

.self-middle-right-main{
    height: 400px;
    width: 530px;
    background: #c7c5c5;
    overflow: hidden;
}
.self-middle-right-main p{
    margin-top: 40px;
    margin-left: 40px;
}
.self-middle-right-main p>span:nth-child(2){
    margin-left: 250px;
}
.self-middle-right-main p>span:nth-child(1) i:nth-of-type(1){
    color: rgb(236, 93, 93);
}


footer{
    clear: both;
}