.shoppingcart-sect-search{
    margin: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid red;
}
.shopcart-table-mid{
    margin: 20px;
    width: 990px;
    background: #ccc;
    height: 40px;
    text-align: right;
    line-height: 40px;
}

.shopcart-table-mid span{
    margin-right: 40px;

}
.shopcart-table-mid span i{
    font-style: normal;
    color: red;
    
}